@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 230 56% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 230 56% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 230 56% 95%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 20% 90%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 230 20% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 287 63% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 85%;
    --input: 230 20% 85%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 287 63% 40%;
    --chart-3: 231 30% 60%;
    --chart-4: 287 40% 55%;
    --chart-5: 231 20% 70%;
    --radius: 0.5rem;
    --sidebar-background: 233 47% 33%;
    --sidebar-foreground: 230 56% 95%;
    --sidebar-primary: 230 56% 95%;
    --sidebar-primary-foreground: 233 47% 33%;
    --sidebar-accent: 231 48% 48%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 231 48% 48%;
    --sidebar-ring: 287 63% 40%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 287 63% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 287 63% 40%;
    --chart-3: 231 30% 60%;
    --chart-4: 287 40% 55%;
    --chart-5: 231 20% 70%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 222.2 84% 4.9%;
    --sidebar-accent: 231 48% 48%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 14.9%;
    --sidebar-ring: 287 63% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
